@import "tailwindcss";

@theme {
  --font-family-serif: 'Playfair Display', serif;

  --color-gold-400: #D4AF37;
  --color-gold-500: #B8860B;

  --animate-kenburns: kenburns 30s infinite alternate;
}

@keyframes kenburns {
  0% { transform: scale(1) translate(0, 0); }
  100% { transform: scale(1.1) translate(-10px, -10px); }
}
